<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zqhy.hyxm">

    <application
        android:name="com.zqhy.hyxm.EsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zqhy.hyxm.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        以下为测试数据-->
        <meta-data
            android:name="g_clientId"
            android:value="301713212014-to8n1rbqu9kabu3gg57ubf2hcc1fjr8i.apps.googleusercontent.com" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb462019716121167" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="bb37c4727e4e9c39bc69329ce9b3c027" />
        <!--  <meta-data
              android:name="g_clientId"
              android:value="875676869372-ql7c3bi8a7nbo08ofd4f9a69kgi94mfu.apps.googleusercontent.com" />
          <meta-data
              android:name="com.facebook.sdk.ApplicationId"
              android:value="fb1174080086581245" />
          <meta-data
              android:name="com.facebook.sdk.ClientToken"
              android:value="ef2eec7cab883ef911e91be6119508d2" />-->
    </application>

</manifest>